@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "code.css";

div.content h2 {
    transform: skew(-10deg);
    background: linear-gradient(transparent 50%,#d9f4ff 53%,#d9f4ff 75%,transparent 80%);
}

div.content h3 {
    border-bottom: 1px dashed #000;
}

div.content h4 {
    border-bottom: 0.5px dashed #ccc;
}

.blur {
    filter: blur(5px);
}

.float-info-dialog {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 80%;
    z-index: 9999999;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #0003;
}

.hidden {
    display: none;
}

.scope-kcrt {
    filter: grayscale(1.0) blur(5px);
}

.tiger {
    background: linear-gradient(-45deg, #C90 17%, #000 20%, #000 27%, #C90 30%, #C90 40%, #000 42%, #000 50%, #C90 52%, #C90 65%);
    color: white;
}
.tiger h1.title {
    color: white;
}
.tiger h1.title::after{
    content: " (dev)"
}

p.warning::before {
    content: "warning";
    display: block;
    font-size: larger;
    color: #888;
}
p.warning {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: double 5px #f9bdff;
    background: #fdeaff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}