<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{page.title}} - Nanoseconds Hunter</title>
	<meta name="description" content="{{page.description}}">
	<meta name="keywords" content="{{page.keywords}}">
	<link rel="copyright" href="http://profile.kcrt.net/" />
	<link rev="made" href="http://profile.kcrt.net/" />
	<link rel="shortcut icon" href="/assets/images/favicon.png">
	<link rel="index" href="/">

	<link rel="stylesheet" href="/assets/css/framework.css">
	<script src="/assets/js/pages.js" defer></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4J75R7ELRP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'G-4J75R7ELRP');
	</script>

</head>

<body class="has-navbar-fixed-top">
	<nav class="navbar is-fixed-top is-light" role="navigation" id="navbar">
		<div class="navbar-brand">
			<div class="navbar-item" href="/">
				<img src="/assets/images/favicon.png" alt="Nanoseconds Hunter">
			</div>
			<a class="navbar-item" href="/">
				<h1 class="title is-5" href="/">Nanoseconds Hunter</h1>
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarHeader" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="/medicine">
					Medicine
				</a>
				<a class="navbar-item" href="/allpages">
					Pages
				</a>
				<a class="navbar-item" href="/allposts">
					Posts
				</a>
				<a class="navbar-item" href="/tags">
					Tags
				</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						More
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="/ppr">
							Programmer's Pocket Reference
						</a>
						<hr class="navbar-divider" />
						<a class="navbar-item" href="https://profile.kcrt.net/">
							About kcrt...</a>
					</div>
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-link is-light"
							href="https://github.com/kcrt/pages/edit/main/{{page.path}}"><img
								src="/assets/images/GitHub-Mark-64px.png" alt="GitHub" />&nbsp;&nbsp;Pull
							Request
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<section class="section">
		<div class="container box" id="" content">
			<section class="hero is-info">
				<div class="hero-body">
					<h2 class="title">
						{{page.title}}
					</h2>
					<h2 class="subtitle">
						{{page.date | date: "%Y-%m-%d %H:%M %Z"}}{%if page.update %}{{page.update | date: "%Y-%m-%d
						%H:%M %Z" | prepend: "/ last
						update: "}}{% endif %} by
						kcrt
					</h2>
					<div class="tags">
						{% for tag in page.tags %}
						<a href="/tags#{{tag}}" class="tag is-link">{{tag}}</a>
						{% endfor %}
					</div>
				</div>
			</section>
			<div>&nbsp;</div>
			<div class="content{% if page.tags contains 'private-memo' %} blur{% endif %}">
				{{content}}
			</div>
		</div>
		{% if page.previous.url or page.next.url %}
		<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
			{% if page.previous.url %}
			<a class="pagination-previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
			{% else %}
			<a class="pagination-previous is-disabled" title="This is the first page">最初のポストです</a>
			{% endif %}
			{% if page.next.url %}
			<a class="pagination-next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
			{% else %}
			<a class="pagination-next is-disabled" title="This is the last page">最新のポストです</a>
			{% endif %}
		</nav>
		{% endif %}
	</section>

	{% if page.tags contains "AYOR" %}
	<div class="notification is-warning float-info-dialog">
		<button class="delete is-large"></button>
		<h4 class="title is-4">At your own risk!</h4>
		この文章に掲載されている内容は、個人のメモとして過去に作成された物であり、<strong>内容に関して保証はありません。</strong><br />
	</div>
	{% endif %}

	{% if page.tags contains "private-memo" %}
	<div class="notification is-info float-info-dialog">
		<button id="scope_delete" class="delete hidden"></button>
		<h4 class="title is-4">Sorry, private only...</h4>
		<div class="has-text-weight-medium">
			このページの内容は、個人のメモとして利用するために作成された物で、<strong>一般に対して公開しているものではありません。</strong>また、記載についてアップデートされているとは限らず、<strong>現状にそぐわない古い情報が含まれている</strong>可能性があります。<br />
			<a onclick="document.querySelector('div.blur').classList.remove('blur'); document.querySelector('#scope_delete').dispatchEvent(new MouseEvent('click'));"
				href="#">それでも見る...</a>
		</div>
	</div>
	{% endif %}

	<footer class="footer">
		<div class="content has-text-right">
			Written by <a href="https://profile.kcrt.net/">TAKAHASHI, Kyohei (kcrt)</a> - last update: {{site.time |
			date: "%Y-%m-%d %H:%M %Z"}}<br />
			<a href="https://bulma.io">
				<img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
			</a>
		</div>
	</footer>

</body>

</html>